<!-- Footer -->
<footer class="text-center py-3 bg-light">
    <p class="mb-1">To be used for academic purposes only. Made with 🔥 at NIT Jalandhar.</p>
    <div>
        <a href="https://github.com/dhruv-yadav-nitj" target="_blank" class="text-dark mx-2" style="text-decoration: none;">
            <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/dhrroovv" target="_blank" class="text-dark mx-2" style="text-decoration: none;">
            <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://www.nitj.ac.in/" target="_blank" class="text-dark mx-2" style="text-decoration: none;">
            <i class="fas fa-school fa-lg"></i>
        </a>
    </div>
</footer>
