<div class="container-fluid my-5" id="manual">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11 col-md-12">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-primary text-white text-center">
                    <h4>{{manual['title']}}</h4>
                </div>
                <div class="card-body p-4">
                    <embed src="{{ manual['link'] }}" type="application/pdf" height="700" width="100%"
                        class="rounded">
                </div>
            </div>
        </div>
    </div>
</div>